---
const JOBS = [
    {
        company: "SAS",
        logo: "/images/sas_logo.jpg",
        startDate: "October 2021",
        endDate: "Present",
        positions: [
            {
                title: "Associate Technical Consultant",
                startDate: "April 2023",
                endDate: "Present",
                description: "Lorem Ipsum",
            },
            {
                title: "Contractor",
                startDate: "September 2022",
                endDate: "April 2023",
                description: "Lorem Ipsum",
            },
            {
                title: "Technical Intern",
                startDate: "October 2021",
                endDate: "September 2022",
                description: "Lorem Ipsum",
            },
        ],
    }
];
---

<div id="experiences" class="relative flex flex-col mt-8 w-full max-w-[700px] mx-auto bg-transparent backdrop-blur">
    {
        JOBS.map((job) => (
            <div class="relative w-full">
                <div class="flex">
                    <img
                        src={job.logo}
                        alt={job.company}
                        class="w-12 h-12 rounded"
                    />

                    <div class="pl-4">
                        <h4 class="font-extrabold text-2xl text-left">
                            {" "}
                            {job.company}{" "}
                        </h4>

                        <time class="text-sm text-left">
                            {" "}
                            {job.startDate} - {job.endDate}{" "}
                        </time>
                    </div>
                </div>

                <ol class="relative">
                    {job.positions?.map((position) => (
                        <li class="first:mt-6">
                            <div class="relative flex items-center">
                                <span class="rounded w-2 h-2 mx-5 bg-white/20" />

                                <h3 class="pl-4 text-lg font-semibold text-white">
                                    {" "}
                                    {position.title}{" "}
                                </h3>
                            </div>

                            <div class="flex guide">
                                <span class="rouned-full w-[2px] h-auto mx-[23px] bg-white/20" />

                                <div class="mb-10 pl-4">
                                    <time class="mb-1 text-xs font-normal leading-none text-white/50">
                                        {" "}
                                        {position.startDate} -{" "}
                                        {position.endDate}{" "}
                                    </time>

                                    <p> {position.description} </p>
                                </div>
                            </div>
                        </li>
                    ))}
                </ol>
            </div>

            <hr class="h-[1px] my-14 border-0 bg-gradient-to-r from-white/40 from-90% to-transparent last:w-0 last:m-0" />
        ))
    }
</div>
