---
import LinkArrowIcon from '@/components/ui/icons/LinkArrowIcon.astro'

interface Props {
  link: {
    title?: string
    href: string
    class?: string
  }
  image?: {
    src: string
    alt: string
  }
  iconClass?: string
}

const { image, link, iconClass } = Astro.props
---

<a
  href={link.href}
  target="_blank"
  rel="noopener noreferrer"
  class=`group flex items-center gap-1.5 ${link.class}`
>
  {image && <img src={image.src} alt={image.alt} class="rounded-xs h-3 w-3" />}
  {link.title && <span>{link.title}</span>}
  <LinkArrowIcon class=`${iconClass}` />
</a>
