---
import ArrowRightTopIcon from '@/components/ui/icons/ArrowRightTopIcon.astro'
import type { Link as LinkType } from '@/types/link'
import type { Image as ImageType } from '@/types/image'
import type { Technology } from '@/types/tecnology'

interface Props {
  link: LinkType
  image?: ImageType
  techLogo?: Technology
  showArrow?: boolean
  classes?: {
    imageClass?: string
    logoClass?: string
    linkClass?: string
    iconClass?: string
  }
}

const { image, link, techLogo, showArrow, classes, ...props } = Astro.props
---

<a
  href={link.href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Navigate to ${link.title} website`}
  class={`group flex items-center gap-1.5 ${classes?.linkClass}`}
  {...props}
>
  {
    image && (
      <img src={image.src} alt={image.alt} class={`rounded-xs h-3 w-3 ${classes?.imageClass}`} />
    )
  }
  {techLogo && <techLogo.logo class={`${classes?.logoClass}`} title={techLogo.name} />}
  {link.title && <span>{link.title}</span>}
  {showArrow && <ArrowRightTopIcon class={`${classes?.iconClass}`} title="Arrow Icon" />}
</a>
