---
import Link from '@/components/ui/Link.astro'
import TagInProgress from '@/components/ui/TagInProgress.astro'

const { title, shortDescription, isInProgress, publicLink, image } = Astro.props
const slug = title.toLowerCase().replace(/\s+/g, '-')
---

<div
  class="interactive-card relative flex flex-col rounded-md border border-neutral-800 p-5 shadow-sm transition-colors duration-300 ease-in-out hover:border-neutral-600"
  style="--x: 50%; --y: 50%;"
>
  <a
    href={`/projects/${slug}`}
    class="absolute left-0 top-0 z-10 h-full w-full cursor-pointer"
    aria-label={`Proyecto: ${title}, pulsar para mas detalles`}
  >
  </a>
  <div class="flex flex-col space-y-5">
    <div class="flex w-full items-center justify-between">
      <div class="flex items-center space-x-2.5">
        {
          image && (
            <img
              src={image.src}
              alt={image.alt}
              width={24}
              height={24}
              transition:name={`project-image-${slug}`}
            />
          )
        }
        {
          publicLink ? (
            <Link
              link={publicLink}
              classes={{
                linkClass:
                  'group flex items-center gap-[6px] font-medium decoration-neutral-500 decoration-dotted underline-offset-[5px] hover:underline z-20',
                iconClass:
                  'h-3.25 w-3.25 opacity-50 duration-200 group-hover:translate-x-[1.5px] group-hover:opacity-100',
              }}
              showArrow={true}
              transition:name={`project-name-${slug}`}
            />
          ) : (
            <p class="font-medium" transition:name={`project-name-${slug}`}>
              {title}
            </p>
          )
        }
      </div>
      {isInProgress && <TagInProgress />}
    </div>
    <p class="truncate text-sm text-neutral-400">{shortDescription}</p>
  </div>
</div>

<style>
  .interactive-card:hover {
    background-image: radial-gradient(circle at var(--x) var(--y), #232323, transparent 300px);
    transition: ease-in-out 300ms;
    will-change: background-image;
  }
</style>

<script type="module">
  function initializeCards() {
    document.querySelectorAll('.interactive-card').forEach((card) => {
      // Mousemove effect
      card.addEventListener('mousemove', (e) => {
        const rect = card.getBoundingClientRect()
        const x = e.clientX - rect.left
        const y = e.clientY - rect.top
        card.style.setProperty('--x', `${x}px`)
        card.style.setProperty('--y', `${y}px`)
      })

      card.addEventListener('mouseleave', () => {
        card.style.setProperty('--x', `50%`)
        card.style.setProperty('--y', `50%`)
      })
    })
  }

  initializeCards()
  document.addEventListener('astro:page-load', initializeCards)
</script>
